<?xml version="1.0"?>
<launch>

  <group ns="gps">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" > <!--output="screen"-->	      
        <param name="port" value="" />
        <param name="baud" value="" />
    </node>	
    
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
        <remap from="/gps/fix" to="/navsat/fix" />
    </node>

    <node pkg="gps_common" type="utm_odometry_node" name="utm_odometry_node"/>

  </group>

</launch>
