<?xml version="1.0"?>
<!--Software License Agreement (BSD)-->

<launch>

  <arg name="scan_topic" default="/scan" />
  <arg name="map_topic" default="map" />

  <node ns="/link_waypoint_nav" pkg="depthimage_to_laserscan" type="DepthImageToLaserScanNodelet" name="realsense-mapping" output="log">
    <remap from="/scan" to="/scan_unfiltered"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="bounding_box_filter">
    <rosparam command="load" file="$(find link_waypoint)/params/bounding_box_filter.yaml" />
	  <remap from="/scan" to="/scan_unfiltered" />
	  <remap from="/scan_filtered" to="/scan" />
  </node>

</launch>
