<?xml version="1.0"?>

<launch>

   <master auto="start"/>
   <param name="/use_sim_time" value="false"/>

 <!-- Launch rosserial -->

    <node name="serial_node_link" pkg="rosserial_python" type="serial_node.py">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

 <!-- Launch e2box IMU -->   
    <include file="$(find link_waypoint_nav)/launch/include/imu.launch"/>

 <!-- Launch GPS -->
    <include file="$(find link_waypoint_nav)/launch/include/gps.launch" />

 <!-- laser scan -->

    <include file="$(find link_waypoint_nav)/launch/include/realsense2laser.launch" /> 

 <!---Launch Localization(ekf, navsat tf) -->
    
    <include file="$(find link_waypoint_nav)/launch/include/localization_m.launch" /> 

 <!-- Run gmapping to create map -->
    <include file="$(find link_navigation)/launch/gmapping.launch" />
 
 <!-- Launch move_base -->  
    <include file="$(find link_navigation)/launch/move_base_nav_m.launch" />

 <!-- Launch send_goal -->
    <!--include file="$(find link_waypoint_nav)/launch/include/send_goals.launch" /-->
</launch> 
