<?xml version="1.0"?>

<launch>

   <master auto="start"/>

 <!-- Launch realsense -->
    <include file="$(find link_waypoint)/link_waypoint/launch/include/realsense2laser.launch" />
 
 <!-- Launch e2box IMU -->   
    <include file="$(find link_waypoint)/launch/include/imu.launch" output="screen" />

 <!-- Launch GPS -->
    <include file="$(find link_waypoint)/link_waypoint/launch/include/gps.launch" />
 <!-- laser scan -->

    <include file="$(find link_waypoint)/link_waypoint/launch/include/realsense2laser.launch" /> 

 <!---Launch Localization(ekf, navsat tf) -->
    <include file="$(find link_waypoint)/link_waypoint/launch/include/localization.launch" /> 
 
 <!-- Run gmapping to create map -->
    <include file="$(find husky_navigation)/launch/gmapping.launch" />

 <!-- Launch move_base -->  
    <include file="$(find link_navigation)/link_waypoint/launch/move_base_nav.launch" />

 <!-- Launch send_goal -->
    <include file="$(find link_waypoint)/link_waypoint/launch/include/send_goals.launch" />
 
 <!-- Launch rosserial -->

    <node name="serial_node_link" pkg="rosserial_python" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
    </node>

</launch> 
